In [219]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

#  Read data

In [220]:
df = pd.read_csv('car.csv')

# Data Information

In [221]:
df.shape

(8128, 12)

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   km_driven      8128 non-null   int64
 3   fuel           8128 non-null   object
 4   seller_type    8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   float64
 8   engine         7907 non-null   float64
 9   max_power      7912 non-null   float64
 10  seats          7907 non-null   float64
 11  selling_price  8128 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 762.1+ KB

In [223]:
df.head()

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,selling_price
0,BMW,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,450000
1,Honda,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,370000
2,Toyota,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0,158000
3,Ford,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,225000
4,Honda,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,130000

# normalize dataframe

In [224]:

scaler = StandardScaler()
scaler.fit( df[['year', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']])
df[['year', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']] = scaler.transform( df[['year', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']])

In [225]:
df.head(50)

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,selling_price
0,BMW,0.048464,1.338363,Diesel,Individual,Manual,First Owner,0.986209,-0.418003,-0.489051,-0.434297,-0.233529
1,Honda,0.048464,0.887411,Diesel,Individual,Manual,Second Owner,0.426372,0.078143,0.335064,-0.434297,-0.332759
2,Toyota,-1.929775,1.241098,Petrol,Individual,Manual,Third Owner,-0.425769,0.076158,-0.377382,-0.434297,-0.595720
3,Ford,-0.940656,1.011202,Diesel,Individual,Manual,First Owner,0.887123,-0.124284,-0.042376,-0.434297,-0.512615
4,Honda,-1.682495,0.887411,Petrol,Individual,Manual,First Owner,-0.822114,-0.318774,-0.092627,-0.434297,-0.630451
5,BMW,0.790304,-0.438918,Petrol,Individual,Manual,First Owner,0.178657,-0.519216,-0.269622,-0.434297,-0.245933
6,Nissan,-1.682495,1.860052,LPG,Individual,Manual,First Owner,-0.524855,-0.789119,-0.949684,-0.434297,-0.672624
7,Ford,-3.166175,-1.146293,Petrol,Individual,Manual,Second Owner,-0.822114,-1.315034,-1.521987,-1.476477,-0.735883
8,Ford,-0.693376,0.356879,Diesel,Individual,Manual,First Owner,1.033275,-0.187791,-0.681679,-0.434297,-0.357567
9,Honda,-0.198816,1.753945,Diesel,Individual,Manual,First Owner,0.143976,-0.118331,-0.653762,-0.434297,-0.543624
10,Toyota,0.048464,-0.032177,Diesel,Individual,Manual,Second Owner,-0.101262,0.004713,0.472696,-0.434297,-0.171510
11,Toyota,-2.177055,0.533723,Petrol,Individual,Manual,Second Owner,-0.524855,-0.924071,-0.879891,-0.434297,-0.677585
12,Honda,-1.187935,1.241098,Diesel,Individual,Manual,Second Owner,-0.029424,-0.418003,-0.491843,-0.434297,-0.444394
13,Honda,-1.682495,0.180036,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,-0.543624
14,Honda,-1.187935,0.356879,Petrol,Individual,Manual,Second Owner,-0.128511,-0.789119,-0.684471,-0.434297,-0.568432
15,Honda,0.543024,-0.527340,Petrol,Individual,Manual,First Owner,-0.314297,-0.517232,-0.265713,-0.434297,-0.295548
16,BMW,0.543024,0.003192,Diesel,Individual,Manual,Second Owner,1.263650,-0.418003,-0.084252,1.650064,0.173316
17,Toyota,-0.446096,-0.297443,Diesel,Individual,Manual,Second Owner,0.887123,-0.124284,-0.042376,-0.434297,-0.171510
18,Nissan,-2.918895,0.180036,Petrol,Individual,Manual,Second Owner,0.069662,-1.315034,-1.262357,-0.434297,-0.605643
19,Toyota,0.543024,0.533723,Diesel,Individual,Manual,First Owner,0.773174,-0.124284,-0.077831,-0.434297,0.051759
20,Toyota,-0.693376,0.533723,Diesel,Individual,Manual,Second Owner,0.391692,0.004713,-0.765431,-0.434297,-0.575874
21,Toyota,0.790304,-0.350496,Diesel,Individual,Manual,First Owner,1.506411,0.078143,0.197712,-0.434297,0.386662
22,Nissan,0.295744,-0.527340,Diesel,Individual,Manual,First Owner,1.776421,-0.418003,-0.489051,-0.434297,-0.140500
23,Nissan,-0.446096,0.038561,Diesel,Individual,Manual,First Owner,0.515550,-0.418003,-0.075877,-0.434297,-0.047472
24,Ford,1.037584,-0.615761,Petrol,Individual,Manual,First Owner,0.218291,-0.515247,-0.215183,-0.434297,-0.171510
25,Toyota,0.543024,-0.438918,Petrol,Individual,Manual,First Owner,0.490778,-0.519216,-0.235005,-0.434297,-0.078481
26,Toyota,0.790304,-0.739552,Petrol,Individual,Manual,First Owner,1.308239,-1.315034,-1.234440,-0.434297,-0.450596
27,BMW,-0.198816,0.003192,Diesel,Individual,Manual,First Owner,-0.301911,-0.418003,-0.494634,1.650064,-0.419586
28,Ford,-1.187935,0.887411,Petrol,Individual,Manual,First Owner,-0.128511,-0.789119,-0.684471,-0.434297,-0.518816
29,BMW,1.037584,-0.792605,Petrol,Individual,Manual,First Owner,-0.648713,-1.315034,-1.600155,2.692244,-0.475404
30,Ford,0.790304,0.003192,Diesel,Individual,Manual,First Owner,1.209153,-0.418003,-0.084252,-0.434297,0.039355
31,BMW,-2.671615,-0.350496,Petrol,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,-0.704874
32,Toyota,-0.446096,-0.615761,Petrol,Individual,Manual,Second Owner,-1.342316,-1.315034,-1.577821,-0.434297,-0.605643
33,Nissan,1.037584,-1.192484,Petrol,Individual,Manual,First Owner,-0.202825,-0.519216,-0.270459,-0.434297,0.113778
34,Ford,0.790304,-0.948228,Diesel,Individual,Manual,First Owner,1.209153,-0.418003,-0.084252,-0.434297,0.014547
35,BMW,1.284864,-1.057871,CNG,Individual,Manual,Second Owner,3.473272,-1.315034,-1.429860,-1.476477,-0.382375
36,BMW,1.284864,-0.969449,Petrol,Individual,Manual,First Owner,1.122452,-0.914148,-0.681679,-0.434297,-0.337721
37,Honda,1.284864,-1.146293,Petrol,Individual,Manual,First Owner,-0.599170,0.262709,0.831432,-0.434297,0.633498
38,BMW,0.543024,-0.491971,Petrol,Individual,Manual,First Owner,0.300037,-0.517232,-0.684471,-0.434297,-0.605643
39,Ford,-0.693376,-0.173652,Diesel,Individual,Manual,Second Owner,-1.359656,1.429643,1.298486,1.650064,-0.264538
40,Toyota,-0.446096,0.109298,Petrol,Individual,Manual,First Owner,-0.822114,-1.315034,-1.521987,-1.476477,-0.605643
41,Nissan,1.284864,-1.146293,Petrol,Individual,Automatic,First Owner,-0.846885,-0.179853,1.933323,-0.434297,1.813100
42,Ford,1.037584,-0.723636,Petrol,Dealer,Manual,First Owner,-0.400998,0.076158,0.719763,-0.434297,0.355652
43,Toyota,-0.198816,0.291447,Petrol,Dealer,Manual,First Owner,-0.648713,0.076158,0.691846,-0.434297,-0.264538
44,Toyota,1.037584,-0.822669,Petrol,Dealer,Automatic,First Owner,-0.227597,-0.519216,-0.233888,-0.434297,0.045557
45,BMW,1.037584,-0.658204,Diesel,Dealer,Manual,First Owner,1.209153,-0.418003,-0.084252,-0.434297,0.225411
46,Ford,1.037584,-1.052566,Petrol,Dealer,Manual,First Owner,1.122452,-0.914148,-0.683075,-0.434297,-0.307952
47,Nissan,0.048464,0.126983,Diesel,Dealer,Manual,First Owner,-1.701504,3.023263,2.149123,1.650064,1.068871
48,BMW,-0.198816,0.516039,Diesel,Dealer,Manual,First Owner,-1.592509,2.054787,0.236796,1.650064,0.076566
49,Honda,0.048464,-0.743089,Diesel,Dealer,Automatic,Second Owner,-1.144144,1.358198,0.814681,-0.434297,1.006852

# Split dataframe to features and label

In [226]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

In [227]:
X

array([['BMW', 0.04846418771422057, 1.3383625536597623, ...,
        -0.4180026220963684, -0.4890509248380697, -0.4342967239530142],
       ['Honda', 0.04846418771422057, 0.8874108553930357, ...,
        0.07814288617965935, 0.3350642748356089, -0.4342967239530142],
       ['Toyota', -1.9297751983057385, 1.2410984618767429, ...,
        0.07615830414655525, -0.3773821985950238, -0.4342967239530142],
       ...,
       ['BMW', -1.187935428548254, 0.8874108553930357, ...,
        -0.4180026220963684, -0.4918426429941457, -0.4342967239530142],
       ['Ford', -0.1988157355382743, -0.7926052754045734, ...,
        -0.12428448119695996, -0.6007196510811156, -0.4342967239530142],
       ['Toyota', -0.1988157355382743, -0.7926052754045734, ...,
        -0.12428448119695996, -0.6007196510811156, -0.4342967239530142]],
      dtype=object)

In [228]:
Y

array([-0.2335288 , -0.33275929, -0.5957201 , ..., -0.31787472,
       -0.43198978, -0.43198978])

# impute missing values

In [229]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 7:10])
X[:, 7:10] = imputer.transform(X[:, 7:10])

In [230]:
imputer2 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer2.fit(X[:, 10:11])
X[:, 10:11] = imputer2.transform(X[:, 10:11])

In [231]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10
0,BMW,0.048464,1.338363,Diesel,Individual,Manual,First Owner,0.986209,-0.418003,-0.489051,-0.434297
1,Honda,0.048464,0.887411,Diesel,Individual,Manual,Second Owner,0.426372,0.078143,0.335064,-0.434297
2,Toyota,-1.929775,1.241098,Petrol,Individual,Manual,Third Owner,-0.425769,0.076158,-0.377382,-0.434297
3,Ford,-0.940656,1.011202,Diesel,Individual,Manual,First Owner,0.887123,-0.124284,-0.042376,-0.434297
4,Honda,-1.682495,0.887411,Petrol,Individual,Manual,First Owner,-0.822114,-0.318774,-0.092627,-0.434297
...,...,...,...,...,...,...,...,...,...,...,...
8123,Ford,-0.198816,0.710567,Petrol,Individual,Manual,First Owner,-0.227597,-0.519216,-0.241984,-0.434297
8124,Nissan,-1.682495,0.869726,Diesel,Individual,Manual,Fourth & Above Owner,-0.648713,0.06822,0.515968,-0.434297
8125,BMW,-1.187935,0.887411,Diesel,Individual,Manual,First Owner,-0.029424,-0.418003,-0.491843,-0.434297
8126,Ford,-0.198816,-0.792605,Diesel,Individual,Manual,First Owner,1.028321,-0.124284,-0.60072,-0.434297
8127,Toyota,-0.198816,-0.792605,Diesel,Individual,Manual,First Owner,1.028321,-0.124284,-0.60072,-0.434297

In [232]:
pd.DataFrame(X).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8128 non-null   object
 1   1       8128 non-null   object
 2   2       8128 non-null   object
 3   3       8128 non-null   object
 4   4       8128 non-null   object
 5   5       8128 non-null   object
 6   6       8128 non-null   object
 7   7       8128 non-null   object
 8   8       8128 non-null   object
 9   9       8128 non-null   object
 10  10      8128 non-null   object
dtypes: object(11)
memory usage: 698.6+ KB

# encode catagorical columns

In [233]:
df['name'].value_counts()

Toyota    1686
Ford      1666
Nissan    1620
Honda     1608
BMW       1548
Name: name, dtype: int64

In [234]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [235]:
df['transmission'].value_counts()

Manual       7078
Automatic    1050
Name: transmission, dtype: int64

In [236]:
df['seller_type'].value_counts()

Individual          6766
Dealer              1126
Trustmark Dealer     236
Name: seller_type, dtype: int64

In [237]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

In [238]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0, 3, 4,5, 6])], remainder='passthrough')
X = np.array((ct.fit_transform(X)))

In [239]:
# X = pd.DataFrame(X, columns=('BMW', 'Ford', 'Honda', 'Nissan', 'Toyota', 'CNG', 'Diesel', 'LPG', 'Petrol', 'Dealer', 'Individual', 'Trustmark_Dealer', 'First_Owner', 'Fourth_Above Owner', 'Second_Owner', 'Test_Drive_Car', 'Third_Owner', 'year', 'km_driven', 'transmission', 'mileage', 'engine', 'max_power', 'seats'))
# Y = pd.DataFrame(Y)

In [240]:
pd.DataFrame(X).loc[:, 19]

0       0.048464
1       0.048464
2      -1.929775
3      -0.940656
4      -1.682495
          ...
8123   -0.198816
8124   -1.682495
8125   -1.187935
8126   -0.198816
8127   -0.198816
Name: 19, Length: 8128, dtype: object

# split data to train and test

In [241]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [242]:
X_train.shape

(6502, 25)

In [243]:
X_test.shape

(1626, 25)

# Training Data

In [244]:
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [245]:
training_acc = np.ceil(regressor.score(X_train, Y_train) * 100)
print("The Training Accuracy = ", training_acc, "%")

The Training Accuracy =  70.0 %

In [246]:
testing_acc = np.ceil(regressor.score(X_test, Y_test) * 100)
print("The Testing_acc Accuracy = ", testing_acc, "%")

The Testing_acc Accuracy =  65.0 %